.debtors-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 20px;
    padding-top: 100px;
  }
  
  .debtors-grid {
    display: flex;
    gap: 40px; 
    flex-wrap: wrap; 
    margin-top: -300px;
  }
  