
  
  /* Main */
  .main {
    flex: 1;
    padding: 20px 40px;
  }
  
  /* Top Buttons */
  .top-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
 
/* Centers filter buttons */
.filter-section6 {
  display: flex;
  justify-content: center; /* Centers buttons */
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-top: -70px;
}
 
/* Styles for filter buttons */
.filter-group1 {
  display: flex;
  margin-top: -30px;
 
}
 
.filter-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.3s;
}
 
.filter-button.active {
  background-color: #007bff;
  color: white;
}
 
.filter-button.outline {
  background-color: transparent;
  border: 2px solid #007bff;
  color: #007bff;
}
 
.filter-button:hover {
  background-color: #0056b3;
  color: white;
}
  
  /* Table */
  .table-container22{
    align-items:center;
    margin-left: 230px;
    
  }
  table {
    width: 1000px;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05); /* Softer shadow */
    /* margin-right:50px; */
    
  
  }
  
  thead {
    background-color: #f1f1f1;
  }
  
  th,
  td {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    font-weight: bold;
  }
  
  .small-btn {
    background-color: #5dade2;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .small-btn:hover {
    background-color: #3498db;
  }
  

 